#examples-graphs-mother p{
    width:55%;
}

#examples-graphs-mother img{
    float:right;
    width:36%;
    padding-right:2%;
}

.view-2{
    display:grid;
    grid-template-rows:12em 10em 10em 10em 10em 5em 2.5em;
    grid-template-columns: 1fr 1fr;
    padding:2em;
}

.response-wrap {
    display: inline;
    width:100%;
    text-align:center;
    height:15em;
    margin:.5em;
    padding-left:3.5em;
    
}

.response{
    width:100%;
}

#lesson-one-ref{
    grid-column: 1/2;
}

#firstResponse, #secondResponse{
    grid-row:3/5;
    display:inline-flex;
    vertical-align: middle;
    width:15em;
    max-width: 18vw;
}

#firstResponse{
    grid-column: 1/2;
}

#secondResponse{
    grid-column: 2/3;
}



@media only screen and (max-width:1200px){
    .response-wrap{
        padding-left:3vw;
    }
    

}

@media only screen and (max-width:950px){
    .response{
        height:auto;
        padding:1em;
    }
    
    .view-2{
        display:block;
    }
    
    .response-wrap{
        max-width:28vw;
        height:auto;
        padding-left:9vw;
    }
    

}

@media only screen and (max-width:410px){
    .response-wrap{
        padding-left:0;
        max-width:23vw;
    }
    
    .response{
        padding:0;
    }
    
    .options{
        padding:0;
    }
    
    #feedback-box{
        margin: 1em 0 1em 0;
    }
}

.hide{
    display:none;
}