.main{
    width:50em;
    height:70em;
    margin:0 auto;
}

.main.honeycomb{
    display: grid;
    grid-template-columns:2.3fr 1fr 2.3fr;
    grid-template-rows: 1fr 2.3fr 1fr 1.3fr 1fr 1.3fr 1fr 2.3fr;

}

.comb h2{
    text-align: center;
}


#one,#two,#three,#four{
    background-repeat: no-repeat;
    background-size: contain;
    display:grid;
    grid-template-rows:1fr .75fr .75fr 1fr;
    background-size: 70%;
}

#one, #three{
    grid-template-columns: 1fr 2.3fr;
    background-position: right;
}

#two, #four{
    grid-template-columns: .3fr 2.3fr .6fr;
    background-position-x:45px;
}

#one{
    background-image: url(../assets/images/One.svg);
    grid-row: 2/4;
    grid-column:1/3;
    height:100%;
    

}
#two{
    background-image: url(../assets/images/Two.svg);
    grid-column:2/4;
    grid-row:3/6;


}
#three{
    background-image: url(../assets/images/Three.svg);
    grid-column:1/3;
    grid-row:5/8;


}
#four{
    background-image: url(../assets/images/Four.svg);
    grid-column:2/4;
    grid-row:7/9;
}

.L-head{
    grid-column: 2/3;
    grid-row:2/3;
}

.A-head{
    grid-column: 2/3;
    grid-row:3/4;
}

.L-head:hover{
    color:#9A2D04;
}

.A-head:hover{
    color:#db7a13;
}

#one:hover{
    background:red;
}