.view-2{
    display:grid;
    grid-template-rows:12em 6em 16em 16em 14em 5em 2.5em;
    grid-template-columns: 1fr 1fr;
    padding:2em;
}

.response-wrap {
    display: inline;
    width:57%;
    /*12vw*/
    text-align:center;
    margin:.5em auto;
    border-radius:20px;
    background-color:#EDEDED;
    box-shadow:3px 3px 5px gray;
    padding:1em;
    min-height:90%;
    
}

#firstResponse, #thirdResponse{
    margin-left:25%;
}

#secondResponse, #fourthResponse{
    margin-right:25%;
}

#thirdResponse, #fourthResponse{
    margin-top:2.5em;
}

.response{
    width:100%;
}

.correct{
    border:5px solid #237a36;
    border-radius:20px;
    background-color:rgb(35,122,54,.15);
}

.incorrect{
    border:5px solid #a50122;
    border-radius:20px;
    background-color:rgb(165,1,34,.15);
}

#feedback-box{
    margin-top:4em;
}

.hide{
    display:none;
}

@media only screen and (max-width:950px){
    .response{
        height:auto;
        padding:1em;
    }
    
    .view-2{
        display:block;
    }
    
    .response-wrap{
        max-width:20vw;
        height:auto;
        padding:0 1em;
        display:inline-block;
        margin:0 1vw;
    }
    
    #feedback-box{
        height:9em;
    }
    
    #firstResponse, #thirdResponse{
        margin-left:4%;
    }

}


@media only screen and (max-width:780px){

    #firstResponse, #thirdResponse{
        margin-left:15%;
    }
    
    #secondResponse, #fourthResponse{
        margin-right:0;
    }
}
    
@media only screen and (max-width:500px){

    
    #firstResponse, #secondResponse, #thirdResponse, #fourthResponse{
        margin:1em .5em;
    } 
}

@media only screen and (max-width:410px){
    .response-wrap{
        margin:0;
    }
    
    #firstResponse, #secondResponse, #thirdResponse, #fourthResponse{
        margin:1em 0;
    } 
}

.hide{
    display:none;
}