.activity-wrap.four-choice .answers, .activity-wrap.two-choice .answers{
    width:80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    /* grid-column-gap:4em; */
    grid-row-gap:2em;
}

.green {
    background-color: #237a36;
}

.inner-response {
    padding:75% 1em 0 1em;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    z-index: -1;
}

.red {
    background-color: #a50122;
}

.response{
    text-align:center;
    width:75%;
    margin:.5em auto;
    border-radius:20px;
    background-color:white;
    box-shadow:3px 3px 5px gray;
    border:1px solid white;
    z-index: 30;
    max-width:30vh;
    margin-bottom:1em;
}

.response.options2{
    width:90%;
    max-width:none;
    display:grid;
    grid-template-columns:1fr 1fr; 
    grid-template-rows:auto;
}

.response.options2 .inner-response{
    padding:42%;
    margin:0;
}

.response.options3{
    width:95%;
    max-width:none;
    display:grid;
    grid-template-columns:1fr 1fr 1fr; 
    grid-template-rows:auto;
}

.response.options3 .inner-response{
    padding:45%;
    margin:0;
}

.response.options4{
    width:95%;
    grid-column:1/3;
    max-width:none;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr; 
    grid-template-rows:auto;
}

.response.options4 .inner-response{
    padding:45%;
    margin:0;
}

.response img{
    max-width:20vw;
}

.stimuli, .stimuliAudio {
    text-align:center;
    font-size:1.5em;
    margin:1em auto;
    display:block;
}

.positive{
    border:1px solid #237a36;
    background-color:rgb(35,122,54,.15);
}

.positive h3{
    color:#237a36;
}


.negative{
    border:1px solid #a50122;
    background-color:rgb(165,1,34,.15);

}

.negative h3{
    color: #a50122;
}

.active {
    border:3px solid #f0d975;
    background-color:#faf6e4;
}

.feedbackContainer{
    display:grid;
    grid-template-columns:4fr 1fr;
}

.status p{
    text-align:right;
    font-weight:300;
    margin-top:-1em;
    margin-bottom:1em;
}

.stimuliCharacter{
    font-size:3em;
    text-align:center;
}

#submitAnswer, #nextQuestion{
    float:right;
    margin-right:6em;
    margin-top:2em;
    grid-column:2/3;
    grid-row:1/2;
}

#feedback-box{
    visibility:hidden;
    grid-column:1/2;
    grid-row:1/2;
    padding:0 2em 0 1em;
    margin:1em 1em 1em 5em;
    border-radius: 1rem;
}

#score{
    background-color:white;
    width:50%;
    margin:0 auto;
    padding:2em;
}

#__visualization{
    margin-top:2em;
}


@media screen and (max-width:800px){
    .activity-wrap.four-choice .answers, .activity-wrap.two-choice .answers{
        grid-row-gap:2em;
    }

    .response{
        border-radius:10px;
    }


    .response.options2 .inner-response{
        padding:38%;
        margin:0;
    }
}


@media screen and (max-width:550px){
    .activity-wrap.four-choice .answers, .activity-wrap.two-choice .answers{
        width:100%;
        grid-row-gap:1em;
        grid-column-gap:1em;
    }

    .response{
        width:90%;
    }

    .inner-response{
        padding:90% 1em 0 1em;
    }

    #feedback-box{
        margin-left:1em;
        grid-column:1/3;

    }

    #nextQuestion{
        grid-column:1/3;
        grid-row:2/3;
        margin-top:0;
        margin-right:0;
    }


}