/* 
COLORS -- 
Dark red - #9A2D04
Orange - //#FF8F17//  --->#db7a13
Background gray - #EDEDED
Blue - //#5E99D3// ---> #3070B0
*/

#teacher-nav {
    width: 90%;
    margin: 0 auto;
}

#teacher-nav h1 a{
    color:rgb(126, 125, 125);
}



/* 
#teacher-nav li {
    margin-top: 7px;
    list-style: none;
    float: none;
    border: solid #5E99D3 2px;
    color: #3070B0;
    border-radius: 25px;
    box-shadow: 5px 5px black;
} */

/* #teacher-nav li{
    list-style: none;
    float: none;
    margin:.5em;
    border-radius:12px;
    background-color:#5E99D3;
    color:white;
    font-family: 'Open Sans', sans-serif;
    border:none;
    font-size:1em;
    box-shadow: 3px 3px #2b2a2a;
    height:3em;
    border:2px solid #5E99D3;
}

#teacher-nav li a{
    color:white;
    text-align:center;
    padding-right:0;

}

#teacher-nav li:hover{
    background-color:white;
    color:#3070B0;
}

#teacher-nav li:hover a{
    color:#3070B0;
} */


/* Teacher Lessons directory */

.lessonCard.teacherCard{
    /* box-shadow:5px 5px 0px #9A2D04; */
    padding:1em;
    border:1.2px solid #9A2D04;
}


.teacherCardLink{
    text-decoration: none;
    color:black;
}

.teacherCardLink:visited{
    color:black;
}

#addLessonLink{
    float:right;
    padding-top:.5em;
}


.lesson.show{
    background-color:white;
    margin:1em;
    width:80%;
    padding:2em;
    box-shadow:5px 5px 0px #9A2D04;
}

.lesson.show h3{
    margin-top:2.5em;
}


.lesson.show h3, .lesson.show p{
    margin-left:1em;
}

.teacherEditLink, .teacherDeleteLink{
    float:right;
    padding-left:20px;
}


#is_quiz{
    margin-top:4em;
}

/* WORDS */ 

.wordCard{
    background-color:white;
    display:grid;
    grid-template-columns:1fr 3fr;
    padding:.5em 1em;
    margin:1em;
}

.wordCard p, .wordCard a{
    margin-top:0;
}

.wordCard a{
    text-align:right;
}