# The next convention is to name the file .env.local for running locally
# DB Connection information
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

AUTH_SECRET= # Obtained by running `npx auth secret` to get a unique hash
NEXTAUTH_SECRET= # Copy and paste from AUTH_SECRET

# For authenticating with google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NEXTAUTH_URL= # The domain you're running on