@import '@/app/styles/colors.scss';

.background {
  background-image: url(./assets/images/background.png);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  opacity: 0.3;
}

.introWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5em;
}

.title {
  text-align: left;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.5;
  width: 100%;
}

.jojoImage {
  transform: rotate(-90deg) translate(-80px, 0px);
  width: 200px;
  height: auto;
}

.nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  justify-content: center;
  align-items: center;
}

.navLink {
  background-color: $orange;
  border: 1px solid $black;
  border-radius: 8px;
  box-sizing: border-box;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

/* Tablet */
@media only screen and (min-width: 600px) {
  .title {
    font-size: 3em; /* Adjust font size for larger screens */
  }
  .nav {
    grid-template-columns: 1fr 1fr;
  }
}

/* Monitor */
@media only screen and (min-width: 900px) {
  .title {
    font-size: 4em; /* Adjust font size for even larger screens */
  }
}
